<h1>
  <center>Eat da burger</h1>
</center>
<div class="container">
  <div class="row">
    <div class="col-xs-4 text-center" class="task">

      {{#each burgers}} {{#unless this.devoured}}
       <div class='burgerOrdered'>
        {{this.id}}. {{this.burger_name}}
       </div>

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit" class='burgerAvailable'>DEVOUR!</button>
        </form>
      


      {{/unless}} {{/each}}

    </div>



    <div class="col-xs-4">
      <form class="create-update-form" align="center" action="/" method="POST">

        <div class="form-group">
          <label for="ca">What would you like to order?</label><br>
          <input type="text" id="ca" name="name">
        </div>

        <button type="submit">Add Order</button>
      </form>
    </div>



    <div class="col-xs-4 text-center" class="task">

      {{#each burgers}} {{#if this.devoured}}
      <div class='burgerEaten'>

        
          {{this.id}}. {{this.burger_name}}

     

      </div>
      {{/if}} {{/each}}
    </div>
  </div>

</div>